.express_view_section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}
.express_view_section_left {
  width: 260px;
}
.express_view_section_left_title {
  height: 46px;
  background: #DE3E46;
  border-radius: 8px 0px 0px 0px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Source Han Sans SC-Medium, Source Han Sans SC;
  font-weight: 500;
  color: #FFFFFF;
  text-indent: 20px;
  margin-bottom: 0;
}
.express_view_section_left_list {
  padding: 20px 0 28px 0;
  height: 430px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px 1px rgba(52,74,109,0.16);
  border-radius: 0px 0px 0px 8px;
  opacity: 1;
  overflow-y: scroll;
}
.express_view_section_left_list_item {
  font-size: 14px;
  font-family: Source Han Sans SC-Medium, Source Han Sans SC;
  font-weight: 500;
  color: #292A2B;
  height: 46px;
  line-height: 46px;
  text-indent: 30px;
}
.express_view_section_right {
  flex: 1;
}
.express_view_section_nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border-radius: 0px 8px 0px 0px;
  padding-left: 10px;
  box-sizing: border-box;
  gap: 30px;
}
.express_view_section_nav_item {
  font-size: 16px;
  font-family: Source Han Sans SC-Medium, Source Han Sans SC;
  font-weight: 500;
  color: #292A2B;
  padding-left: 20px;
  cursor: pointer;
}
.express_view_section_nav_item .iconfont {
  margin-left: 10px;
}
.express_view_section_content {
  padding: 10px 0 0 10px;
}
.express_view_section_content_swiper {
  width: 1170px;
  height: 420px;
  background: #2A4185;
  border-radius: 0px 0px 8px 0px;
}
.swiper-slide img {
  width: 1170px;
  height: 420px;
}
.express_view_title {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 52px;
  font-size: 36px;
  font-family: Source Han Sans SC-Bold, Source Han Sans SC;
  font-weight: bold;
  color: #292A2B;
  margin-bottom: 34px;
}
.express_view_title .iconfont {
  margin-right: 12px;
  color: #DE3E46;
}
.express_view_list {
  padding-bottom: 15px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px 1px rgba(52,74,109,0.1);
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 120px;
}
.express_view_thead td {
  height: 66px;
  line-height: 66px;
  font-size: 14px;
  font-family: Source Han Sans SC-Normal, Source Han Sans SC;
  font-weight: 400;
  color: #8A9197;
}
.express_view_thead {
  margin-bottom: 15px;
}
.express_view_tr td {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-family: Source Han Sans SC-Regular, Source Han Sans SC;
  font-weight: 400;
  color: #292A2B;
}

.express_view_crosschips {
  background: #ffffff;
  height: 352px;
  background: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  margin-bottom: 100px;
  padding-top: 106px;
  box-sizing: border-box;
}
.express_view_crosschips_title {
  text-align: center;
  height: 70px;
  font-size: 48px;
  font-family: Source Han Sans SC-Bold, Source Han Sans SC;
  font-weight: bold;
  color: #292A2B;
  line-height: 70px;
  margin-bottom: 20px;
}
.express_view_crosschips_desc {
  text-align: center;
  font-size: 32px;
  font-family: Source Han Sans SC-Regular, Source Han Sans SC;
  font-weight: 400;
  color: #C7CDD2;
}
.express_view_crosschips_content {
  text-align: center;
  height: 46px;
  font-size: 32px;
  font-family: Source Han Sans SC-Medium, Source Han Sans SC;
  font-weight: 500;
  color: #C7CDD2;
  line-height: 46px;
  margin-bottom: 86px;
}
.express_view_crosschips_title_list {
  width: 1440px;
  height: 154px;
  background: #F8F9FB;
  border-radius: 8px;
}
.express_view_step {
  padding: 50px 40px 40px 40px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px 1px rgba(52,74,109,0.1);
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 120px;
}
.express_view_step_icon {
  width: 100%;
  margin-bottom: 41px;
}
.express_view_step_list {
  display: flex;
  padding-left: 28px;
}
.express_view_step_list_item {
  font-size: 20px;
  font-family: Source Han Sans SC-Regular, Source Han Sans SC;
  font-weight: 400;
  color: #292A2B;
  line-height: 20px;
}
.express_view_step_list_item.one {
  width: 170px;
  margin-right: 62px; 
}
.express_view_step_list_item.two {
  width: 174px;
  margin-right: 81px;
}
.express_view_step_list_item.three {
  width: 112px;
  margin-right: 115px;
}
.express_view_step_list_item.four {
  width: 125px;
  margin-right: 72px;
}
.express_view_step_list_item.five {
  width: 164px;
  margin-right: 87px;
}
.express_view_step_list_item.six {
  width: 112px;
}